<div class="nested-fields form-group centre-align"><br>
  <strong><%= f.label :name, "Answer" %></strong>
  <%= f.text_field :name, class: "form-control w-25 mx-auto" %><br>
  <td>
  <%= link_to_remove_association "Delete Answer", f, class: 'btn btn-secondary btn-sm' %>
  </td>
</div><br><br>